@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.Dashboard {
  display: flex;
}

.DashboardContentsParentContainer {
  background-color: #b2e4fa;
  width: 100%;
  height: 110vh;
}

.DashboardContentsChildContainer {
  background-color: rgb(222, 243, 255);
  margin: 2%;
  padding-left: 5%;
  padding-top: 5%;
  padding-right: 5%;
  height: 80%;
  border-radius: 10px;
}

.BeginnerCourseText {
  font-family: "Open Sans", serif;
  color: rgb(70, 70, 70);
  font: bold;
}

.StudentProfilesGrid {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: column;
  height: 90%;
  width: 90%;
}