@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Nunito");

.footer_main_style {
  display: flex;
  justify-content: space-around;
  background: #b2e4fa 0% 0%;
  border: 1px solid #b2e4fa;
}

.footer_category_text {
  margin-top: 151px;
  text-align: left;
  font: normal normal bold 24px/32px Nunito;
  letter-spacing: 0.48px;
  color: #707070;
}

.footer_subcategory_text {
  margin-bottom: 200px;
  text-align: left;
  font: normal normal normal 20px/32px Open Sans;
  letter-spacing: 0.4px;
  color: #707070;
}
