#maori_flag {
  margin: 9px 37.4px 41px 8px;
  background: transparent 0% 0% no-repeat padding-box;
}

#nz_flag {
  margin: 9px 0px 41px 38px;
  background: transparent 0% 0% no-repeat padding-box;
}
