.login_signup_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1000px;
  height: 920px;
  border: 5px black;
  border-style: solid 10px;
  margin: 100px;
  box-shadow: 0px 3px 6px #00000029;
}

.student_image {
  margin-top: 15%;
  margin-left: 20%;
}

.teacher_image {
  margin-top: 15%;
  margin-left: 20%;
}

.login_inputs {
  flex-direction: column;
  width: 250px;
  height: 33px;
  margin: 15px;
  margin-left: 25%;
  border-radius: 10px;
  opacity: 50%;
}

.signup_inputs {
  flex-direction: column;
  width: 250px;
  height: 33px;
  margin: 5px;
  margin-left: 25%;
  border-radius: 10px;
  opacity: 50%;
}

.student_slide {
  object-fit: fill;
  border: black 10px;
  border-right: 1px solid black;
}

.teacher_slide {
  border-left: 1px solid black;
}

.student_title {
  text-align: center;
  color: #707070;
}

.teacher_title {
  text-align: center;
  color: #707070;
}

.login_button {
  justify-content: flex-start;
  margin-left: 20%;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 20px;
  width: 120px;
  border: none;
  background-color: white;
  color: #a5a5a5;
  font-weight: bolder;
}

.signup_button {
  justify-content: flex-start;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
  font-size: 20px;
  width: 120px;
  border: none;
  background-color: white;
  color: #a5a5a5;
  font-weight: bolder;
}

.submit_btn {
  width: 175px;
  height: 35px;
  background-color: #f91c85;
  color: white;
  border: none;
  margin: 20px;
  margin-left: 33%;
  margin-top: 15%;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0px 4px 5px #00000029;
}
