@import url("https://fonts.googleapis.com/css?family=Open+Sans:300");

.SideBar {
  display: flex;
  flex-direction: column;
  background-color: rgb(67, 192, 246);
  width: 236px;
  height: 110vh;
  position: relative;
}

.SideBar > * {
  margin-left: auto;
  margin-right: auto;
}

.DashboardButtons{
 
  width: 100%;
}

.AccountButtons {
  display: flex;
  flex-direction: row;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
}

.AccountButtons > img {
  margin: 10px;
  height: 12px;
}

.AccountButtonText {
    margin: 7px;
    text-align: center;
    font-size: 10px;
    font: bold;
    color: white;
    font-family: "Open Sans", serif;
}

.ProfilePicture {
  margin-top: 10px;
  margin-bottom: 10px;
}
