@import url('https://fonts.googleapis.com/css?family=Nunito');

.header_button {
  display: flex;
  flex-direction: row;
  text-align: center;
  font: normal normal 900 16px Nunito;
  letter-spacing: 0.32px;
  color: #ffffff;
}

#header_left_button {
  width: 200px;
  height: 35px;
  margin: 9px 27px 3px 99.4px;
  border-radius: 7px;
  box-shadow: 0px 4px 5px #00000029;
  background: #e5ab2c;
}

#header_mid_button {
  width: 250px;
  height: 35px;
  margin: 9px 27px 3px 0px;
  border-radius: 7px;
  box-shadow: 0px 4px 5px #00000029;
  background: #f91c85;
}

#header_right_button {
  width: 200px;
  height: 35px;
  margin: 9px 27px 3px 0px;
  border-radius: 7px;
  box-shadow: 0px 4px 5px #00000029;
  background: #43c0f6;
}

.button_content {
  display: flex;
  text-align: center;
  margin: 2% 10%;
}
