.StudentProgressCardContainer {
    background-color: white;
    width: 95%;
    height: 113px;
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    
}

.NameAndProjectsCompletedContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 20px;
}

.StudentNameText{
    font-size: 14px;
}

.ProjectsCompleted {
    margin-top: auto;
    margin-bottom: auto;
}

.ProjectsCompletionProgress {
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin: auto;
}

.ProjectEllipse, .ProjectEllipseCompleted {
    border: 4px solid pink;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    text-align: center;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.ProjectEllipse {
    background-color: white;

}

.ProjectEllipseCompleted {
    background-color: rgb(165, 235, 206);
}

.StudentProgressCardText {
    margin: auto;
}