#brand {
  align-items: center;
  margin-right: 20px;
}

#project_intro {
  text-align: center;
  margin: 17px 0px 2px 0px;
  font: normal normal 900 20px/11px Nunito;
  letter-spacing: 0.4px;
  color: #6c6c6c;
}
